<html>
    <head>
        <title>Quiz Cards</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-900 text-white">
        <h1 class="m-10 text-3xl">Your sets:</h1>
        <div id="cards" class="w-[100vw] grid grid-cols-4 grid-gap-4">
            <!-- Placeholder for user sets -->
        </div>
    </body>
</html>
<script>
loadcards();
    function opencards(setname) {
        window.location.href = `/viewcard?setname=${setname}`;
    }
    function deleteset(name){
        fetch(`/api/delete?name=${name}`)
        .then( respons => {
            if (!respons.ok){
                alert('UKNOWN ERROR')
            }
            else{
                window.location.href = '/dash'
            }
        })
    }
    async function loadcards(){
        await fetch('/api/cards')
        .then(response => response.json())
        .then(data => {
            data.forEach(set => {
                createcard(set.Title, set.cards, set.description);
            });
        });
    }
    function createcard(Title, cards, desc) {
        const div = document.createElement("div");
        div.className = "bg-white/10 rounded-lg border border-white/30 m-10 p-6 hover:cursor-pointer h-[40vh] w-[20vw] grid grid-rows-[1fr_10px_1fr]"
        div.innerHTML = `
        <div class="row-start-1 row-end-1" onclick="opencards('${Title}')">
            <h2 class="text-2xl mb-4">${Title}</h2>
            <p class="text-white/70 text-xl">${cards} Cards</p>
            <br>
            <p class="text-white/70">${desc}</p>
        </div>
        <div class="row-start-3 grid grid-cols-2">
            <button class="bg-red-400/10 p-5 h-fit rounded-md bottom-[0px]" onclick="deleteset('${Title}')">Delete</button>
        </div>
        `
        document.getElementById("cards").appendChild(div);
    }
</script>