<html>
    <head>
        <title>Quiz Cards</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-900 top-0 left-0 w-[100vw] text-white">
        <div class="flex flex-row justify-center fixed z-10 bottom-[0px] left-[0px] w-[100vw] h-[7vh] bg-white/10 border-white/20 backdrop-blur-md">
            <div class="text-center rounded-full bg-white/10 backdrop-blur-md border-white/20 w-fit p-5 m-5" onclick="setframe('dash')">
                <p class="text-3xl">Dash</p>
            </div>
            <div class="text-center rounded-full bg-white/10 backdrop-blur-md border-white/20 w-fit p-5 m-5" onclick="setframe('create')">
                <p class="text-3xl">Create</p>
            </div>
            <div class="text-center rounded-full bg-white/10 backdrop-blur-md border-white/20 w-fit p-5 m-5">
                <a href="/logout" class="text-3xl">Logout</a>
            </div>
        </div>
        <iframe src="/dash" class="absolute top-0 right-0 h-[100vh] w-[100vw] border-none">

        </iframe>
    </body>
</html>
<script>
    function setframe(page) {
        document.querySelector("iframe").src = `/${page}`;
    }
</script>